@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */

/* header  {
    margin: 0;
    padding: 0;
}

#eyecatch {
    margin: 0;
    padding: 0;
}
.mission {
    margin: 0;
    padding: 0;
} */

.header {
    position:relative;
    background: black;
    height:80px;
    width: 100%;
    overflow:hidden;
   


}

.header-wrap {
  display:flex;
}

.header-logo {
  color: white;
  font-size: 100%;
  /* 100% 1em (1rem html{font-size:100%;}) */
  
  position:absolute;
  top:50%;
  left: 10%;

  transform:translate(-50%,-50%);
}

.header-nav ul{
  display:flex;
  position:absolute;
  left:80%;
  top: 50%;
  transform:translate(-50%,-50%);
  
  
}
  
.header-nav a {
    text-decoration: none;
    color: white;
    
    

}

.header-nav a:hover {
    color: blueviolet;
}

.header-nav li {
  margin-left: 30px;
  
  
}













#eyecatch {
    position: relative;
    overflow:hidden;
}


#eyecatch h2 {
    color: white;
    position: absolute;
    bottom: 40%;
    font-style : italic;
    font-family: Times New Roman, "ＭＳ Ｐゴシック";
    margin-left: 10%;
    
    font-size: 200%;
    
    
}

#eyecatch img {
    vertical-align:top;
    height: 100vh;
    width: 100vw; 
    

} 

.eyecatch-wrap {
  
}
    
.news1_left {
    
    height:10%;
    width:50%;
    
    position:absolute;
    bottom:0;
    right:15%;
    background: white;
    padding-top:5px;
    padding-left: 5px;
    border: thin solid;
}

.news-p2 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 14px;
}


.newstitle_right {
    height: 11%;
    width:15%;
    position:absolute;
    bottom:0;
    right:0;
    background:black;
    color:white; 

}

.newstitle_right p {
    padding-left:40%;
    padding-top: 15%;
}






/* ミッション部分 */


.mission {
    background:black;
    height: 400px;
    width: 100%;
    position:relative; 
    margin-bottom: 200px;
}




.mission-h3 {
    position: absolute;
    top: 35%;
    left: 20%;
    font-size:20px;
   
    color:white;
    z-index: 4; 
}

.mission-text {
    position: absolute;
    top: 40%;
    left: 20%;

    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color:white;
    font-size:12px;

    z-index: 3;
}

.mission-button {
    position: absolute;
    top: 70%;
    left: 20%;
    
    background-color: white;
    font-size: 12px;
    color: black;
    border: none; white;
    display:inline-block;
    padding: 10px 20px;
    z-index: 2;
}

.mission-right img{
    width: 40vw;
    height: auto;
    position: absolute;
    top: 25%;
    right:5%;

    z-index: 1;
}


#service {
    position: relative;
    
    background: silver;
    height: 600px;
    
}

#service h1 {
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}




.service-left {
    background:white;
    position: absolute;
    top: 25%;
    left: 18%;
    width: 36%;
    height: 30vh;
    padding:30px;
    
    z-index: 3;
    font-size:13px;

}

.service-left h3 {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 14px;
}

.service-left-p1 {
    padding-left: 16px;
    padding-bottom: 14px;
}

.service-left-p2 {
    padding-left:16px;
    line-height:20px;
}
.service-left button {
   position:absolute;
   right: 7%;
   bottom: 25%;
   background:transparent;
   
   border-width:1px;
   padding:5px 15px;
}

.service-right img {
    position: absolute;
    right:0;
    
    width: 50%;
    

    z-index: 1;
}


.service2-wrap {
    position: relative;
    background: silver;
    height: 800px;
    display: flex;
   

}

.service2-wrap img {
    position:absolute;
    left:0;
    top: 30%;
    width: 50%;
    height: auto;

}
.service2-under-right {
    

    position:absolute;
    top: 40%;
    right:16%;
    height: 30vh;
    width: 35%;
    background: white;
    padding:30px;
    font-size:13px;
}

.service2-under-right h3 {
    padding-top: 16px;
    padding-left:16px;
    padding-bottom: 14px;
    
}

.service2-under-right-p1 {
    padding-left:16px;
   padding-bottom: 14px;
   
}

.service2-under-right-p2  {
    padding-left:16px;
   padding-bottom: 14px;
   line-height:20px;

}

.service2-under-right button {
   position:absolute;
   right: 7%;
   bottom: 30%;

   background:transparent;
   border-width:1px;
   padding:5px 15px;
}




#company {
    position: relative;
    
}



.company-wrap {
    margin-top: 100px;
     
}

.company-info {
    position: absolute;
    left: 0;
    width: 48vw;
}

.item1  {
    width:100%;
    height: 150px;
    object-fit:cover;
    
}



.company-info h2 {
    font-size:30px;
    color:white;
    position: absolute;
    position:block-inline;
    text-align:center;
    top:30%;
    left:40%; 
    z-index: 2; 
    
}


.company-info p {
    color: white;
    position:absolute;
    top: 60%;
    left:45%;
    z-index:2;
    

    
}

.recruit-info {
    position: absolute;
    right: 0;
    width: 48vw;
    
    
    

}


.item2 {
    width:100%;
    height: 150px;
    object-fit:cover;
}

.recruit-info h2 {
    font-size:30px;
    color:white;
    
    position: absolute;
    top:30%;
    right:40%;
    z-index: 2; 
    
}

.recruit-info p {
    color: white;
    position:absolute;
    top:60%;
    right:43%;
    z-index:2;
    
}


.FAQ  {
    position:absolute;
    top:250px;
    left:50%;
    transform: translate(-50%,0);
    background: black;
    width: 70%;
    
    
    color:white;
    display:flex;
    list-style: none;
    padding:30px;
    
    
} 

.FAQ-p1{
    
    font-weight: bold;
    font-size: 32px;   
}

.FAQ-p2 {
    width: 70%;
    margin:auto;
    text-align: center;
    font-weight: solid;
    font-size: 16px;
    vertical-align:middle; 
    
}

.contact {
    position: relative;
    top:70vh;
    height:80vh;
    
    background-image:url("../img/contact-bg.jpg");
    
    width:100%;
    background-size:  cover;
    background-repeat: no-repeat;
    /* margin-bottom:200px; */
    
}

.contact-wrap {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align:center;
}
.contact-wrap h3 {
    margin-bottom:10px;    
    font-size:30px;

}
.contact-txt1 {
    margin-bottom: 40px;
}
.contact-txt2 {
    font-size:30px;
    margin-bottom:30px;
}

.contact-txt3 {
    font-size: 10px;
    width:70vw;
    margin-bottom:30px;
}

.contact-wrap button {
    background: transparent;
    color:white;
    border-color: white; 
    border-style: solid;            
   
}

.contact-wrap button:hover {
    border-style:none;
}









#footer {
    position: relative;
    top: 70vh;
    background: black;
    height: 80px;
    width: 100%;
    
}

.footer-logo {
    position:absolute;
    left:30px;
    font-size: 20px;
    line-height: 70px;
    position:absolute;
    left: 30px;
    color:white;
}

.footer-nav {
    display:flex;
}

.footer-nav-list {
    position:absolute;
    right:0;
    display:flex;
    color:white;
    justify-content: space-between;
    margin:30px;
}

.footer-nav-list a{
     color: white;
     text-decoration: none;
}

.footer-nav-list a:hover {
    color:blueviolet;
}
.footer-nav-item {
     margin-right: 30px;
    
}


.copyright {
    color:white;
    position: absolute;
    bottom: 0px;
    left:50%;
    transform: translate(-50%,0);
    
    height:20px;
}